html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: SourceSansProLight;
  /* color: #ffffff; */
}

html * {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
